<html>
<head>
  <title>Mensagens</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <ul>
    <% for (let i=0; i < messages.length; i++) { %>
      <li>
        <div>
          <%= messages[i].text %>
        </div>
        <div>
          <%= messages[i].user %>
        </div>
        <div>
          <%= messages[i].added %>
        </div>
      </li>
      <% } %>
  </ul>
  <a id="but" href="/new">+</a> 
</body>
</html>